.form {
  display: flex;
  flex-direction: column;

  .formControl {
    padding: 10px 0;
    width: 100%;
  }
}
.buttonsWrapper {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;

  button:first-child {
    margin-right: 15px;
  }
}
