.buttonWrapper {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.parameter {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 10px;

  p {
    margin: 0;
  }
}
