.dataSet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 10px;

  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h6 {
      margin: 0;
    }
  }
  .treeWrapper {
    padding-bottom: 10px;
  }
}
